@charset "UTF-8";


/* tudo que em HTML é id em CSS é #*
    tudo que em HTML é class em CSS é ./


body {text-align: center;
    background-color: rgb(139, 255, 139);

    }

h1#principal {text-align:left; }

h1, h2 {
    color: rgb(244, 128, 255);
    font: normal, 30px, Arial, sans-serif;
    }